@font-face {
  font-family: SpyAgency;
  src: url('../../assets/spyagencyv3.ttf');
}

//Variables
@fontFamily: SpyAgency, sans-serif;
@color-accent: #f1f1f1;
@color-accent-dark: darken(@color-accent, 70%);
@color-primary: #31b0d5;
@color-danger: #dd231e;
@color-info: #ff9d1b;
@screenwidth: window.screen.availWidth;
@screenheight: window.screen.availHeight;

//CSS
body{
  background: url('../../assets/Backgrounds/blue.png');
  font-size: 0.625em;
  font-family: @fontFamily;
}

.btn{
  //background: url('../../assets/PNG/UI/buttonBlue.png');
  background: @color-accent;
  border: solid 3px @color-primary;
  color: @color-accent-dark;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  &:focus{
    outline: none;
  }
  &:hover{
    background: darken(@color-accent, 10%);
  }
  &:disabled{
    background: darken(@color-accent, 40%);
    border:solid 3px darken(@color-primary, 20%);
  }
}

h1,h2,h3{
  color: white;
  display: block;
  text-align: center;
}
h1{
  font-size:12em;
}
h2{
  font-size: 5em;
}
h3{
  color: @color-info;
  font-size: 3em;
  margin-bottom: 30px;
}

ul{
  list-style: none;
  padding: 0;
}

.btn-start{
  font-size: 2em;
  font-family: @fontFamily;
  padding:20px 100px;
  margin: 0 auto;
  display: block;
}

//Actual Game

.playArea{
  width: @screenwidth;
  height: @screenheight;
  background: url('../../assets/Backgrounds/purple.png');
}